/* hero ================================================================= */

.hero {
  background-image: url("../img/hero.jpg"); /* استبدل your-image-url.jpg برابط الصورة */
  background-size: cover; /* لجعل الصورة تغطي الخلفية بالكامل */
  background-position: center; /* لتوسيط الصورة */
  background-repeat: no-repeat; /* لمنع تكرار الصورة */
  background-attachment: fixed;
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color-light);
}

.hero-content {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 10px;
}

.hero-content h1,
.hero-content p,
.hero-content .btn {
  animation: fadeIn 0.6s ease-in-out;
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero-content .hero-btn {
  color: var(--font-color-1);
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border-radius: 5px;
}

.hero-content .hero-btn:active {
  background: rgba(0, 0, 0, 0.5);
}

@media (width<600px) {
  .hero {
    height: 50vh;
  }
  .hero-content {
    padding: 20px;
  }

  .hero-content h1 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .hero-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .hero-content .hero-btn {
    font-size: 0.8rem;
  }
}

/* category =============================================================== */

.categories {
  animation: fadeIn 0.8s ease-in-out;
  background: var(--font-color-1);
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}

.categories .section-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: var(--main-color);
}

.swiper-categoty {
  padding: 17px;
}

.category-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background: linear-gradient(
    to bottom right,
    gray 0%,
    var(--color-white) 50%,
    rgba(255, 255, 255, 0.5) 100%
  );
  box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  min-width: 130px;
  border-radius: 10px;
}

.category-card:hover {
  transform: translateY(-10px);
  box-shadow: -5px 15px 0px rgba(0, 0, 0, 0.15);
}

.category-card img {
  width: 90%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 2.5px;
}

.category-card h3 {
  font-size: 1rem;
  color: var(--color-gray);
}

@media (width<768px) {
  .categories .section-title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .swiper-categoty {
    padding: 10px;
  }

  .category-card {
    padding: 0.7rem;
    min-width: 130px;
  }

  .category-card img {
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;
  }
}

/* products ================================================================ */

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products .section-title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: var(--main-color);
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}

.product-card {
  border: 1px solid #fff;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: -5px 10px 0px rgba(0, 0, 0, 0.2);
}

.product-info {
  direction: rtl;
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-description {
  font-size: 0.85rem;
  color: #777;
  line-height: 1.4;
  height: 2.3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ff6600;
}

.old-price {
  font-size: 0.8rem;
  color: var(--text-color-dark);
  text-decoration: line-through;
}

.product-actions {
  display: flex;
  gap: 5px;
}

.add-to-cart {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  border: 2px solid var(--main-color);
}

.add-to-cart i {
  font-size: 1rem;
}

.buy-now {
  flex-grow: 1; /* يأخذ الزر المتبقي من المساحة */
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s ease;
  border: 2px solid var(--main-color);
}

.buy-now:hover,
.add-to-cart:hover {
  background-color:transparent;
  color: var(--main-color);
}
/* Media Queries for responsive design */
@media (max-width: 768px) {
  .product-card img {
    height: 160px;
  }

  .product-info {
    padding: 10px;
  }

  .product-name {
    font-size: 0.9rem;
  }

  .product-description {
    font-size: 0.8rem;
  }

  .price-container {
    display: flex;
  }

  .price {
    font-size: 1.1rem;
  }

  .old-price {
    font-size: 0.7rem;
  }

  .product-actions {
    gap: 10px;
    margin-top: 5px;
  }

  .add-to-cart {
    width: 40px;
    height: 40px;
  }

  .add-to-cart i {
    font-size: 0.8rem;
  }

  .buy-now {
    padding: 5px;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-name {
    font-size: 0.85rem;
  }

  .price {
    font-size: 1rem;
  }

  .old-price {
    font-size: 0.6rem;
  }

  .product-actions {
    gap: 5px;
    margin-top: 0px;
  }

  .add-to-cart {
    width: 35px;
    height: 35px;
  }

  .add-to-cart i {
    font-size: 0.7rem;
  }

  .buy-now {
    padding: 0px;
    font-size: 0.7rem;
  }
}

/* offers ================================================================== */

.offers {
  background-image: url("../img/hero.jpg"); /* استبدل your-image-url.jpg برابط الصورة */
  background-size: cover; /* لجعل الصورة تغطي الخلفية بالكامل */
  background-position: center; /* لتوسيط الصورة */
  background-repeat: no-repeat; /* لمنع تكرار الصورة */
  background-attachment: fixed;
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color-light);
}

.offer-content {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 10px;
}

.offer-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.offer-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.offer-content .offer-btn {
  color: var(--font-color-1);
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border-radius: 5px;
}

.offer-content .offer-btn:active {
  background: rgba(0, 0, 0, 0.5);
}

@media (width<600px) {
  .offers {
    height: 40vh;
  }
  .offer-content {
    padding: 20px 50px;
  }

  .offer-content h1 {
    font-size: 1.5rem;
  }

  .offer-content .offer-btn,
  .offer-content p {
    font-size: 1rem;
  }
}
/* about us =========================================================== */

.about-section {
  color: var(--main-color);
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.about-section h2 {
  font-size: 2.5rem;
}

.about-section .text {
  padding: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
}

.swiper-about {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 10px;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.feature-box {
  perspective: 1000px;
  min-width: 200px;
  max-width: 200px;
  height: 250px;
}

.feature-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.feature-box-front,
.feature-box-back {
  position: absolute;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.1);
}

.feature-box-front {
  background: var(--color-white);
  color: var(--color-gray);
}

.feature-box-front:hover {
  border: 3px solid var(--main-color);
}

.feature-box-back {
  background: var(--main-color);
  color: var(--color-white);
  transform: rotateY(180deg);
}

.feature-box i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--main-color);
}

.feature-box h3 {
  color: var(--main-color);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 0.9rem;
}

.feature-box-inner {
  cursor: pointer;
}

.feature-box-inner.clicked {
  transform: rotateY(180deg);
}
