.itme_dateil {
    background: #fff;
    padding: 50px 0;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .img_item {
        width: 40%;

        & .big_img img {
            width: 100%;
        }

        & .sm_imgs {
            display: flex;
            cursor: pointer;
            flex-direction: row-reverse;

            & img {
                width: 24%;
            }
        }
    }

    & .detalis_item {
        width: 58%;

        & h1 {
            margin-bottom: 30px;

        }

        & h5 {
            font-weight: 500;
            margin-bottom: 20px;
            font-size: 16px;

            & span {
                color: var(--color-1);
            }
        }

        & .stars {
            color: var(--color-1);
        }

        & .price {
            justify-content: left;
            margin: 20px 0;
            gap: 20px;

            & p span {
                color: var(--green);
                font-size: 22px;
            }

            & p.old-price {
                font-size: 15px;

                & span {
                    margin-right: 10px;
                    font-size: 15px;
                    color: var(--color-2);
                    text-decoration: line-through;
                }
            }
        }

        & .text_p {
            line-height: 1.5;
        }

        & h4 {
            font-size: 20px;
            margin-top: 20px;
        }

        & button {
            border: none;
            outline: none;
            background: var(--color-1);
            color: var(--color-3);
            font-weight: bold;
            padding: 14px 35px;
            border-radius: 5px;
            margin: 30px 0;
            font-size: 18px;
            cursor: pointer;
            text-transform: lowercase;
            transition: 0.3s;
        }

        & button:hover {
            scale: 1.1;
        }

        & .icons {
            display: flex;
            gap: 10px;

            & i {
                width: 50px;
                height: 50px;
                background: #efeeee;
                text-align: center;
                line-height: 50px;
                border-radius: 50%;
                cursor: pointer;
                transition: 0.3s ease-in-out;
            }

            & i:hover {
                background: var(--color-1);
            }
        }
    }
}

@media(max-width:1000px) {
    .itme_dateil {
        & .detalis_item {
            width: 100%;
        }

        & .container {
            flex-direction: column;

            & .img_item {
                width: 50%;
                margin-bottom: 40px;
            }
        }
    }
}

@media(max-width:700px) {
    .itme_dateil .img_item {
        width: 80%;
    }
}

@media(max-width:500px) {
    .itme_dateil .detalis_item{
        & h1 {
            font-size: 20px;
        }

        & p{
            font-size: 14px;
        }

        & h4 {
            font-size: 18px;
        }

        & button {
            font-size: 16px;
        }
    }
}