
body {
  background: url("../img/hero.jpg") no-repeat center center fixed;
  background-size: cover;
  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.auth-section {
  width: 100%;
  max-width: 500px;
  perspective: 1000px;
}

.auth-container {
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  min-height: 450px;
}

.form-wrapper {
  margin: 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 5px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
}

h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  transform-style: preserve-3d;
  height: 100%;
}

.login-form {
  transform: rotateY(0deg);
}

.register-form {
  transform: rotateY(180deg);
}

.auth-container.flipped {
  transform: rotateY(180deg);
}

.register-form,
.login-form{
  height: 400px;
  transition: .7s ease;
}
.auth-container.flipped .login-form,
.auth-container.flipped .register-form {
  height: 500px;
}

h2 {
  text-align: center;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
  border-bottom: 3px solid #ef4d34;
  color: #fff;
  transition: 0.3s ease;
}

.form-group input:focus {
  border-bottom: 3px solid #fff;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #ef4d34;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: #fff;
  color: #be4612;
}

p {
  text-align: center;
  margin: 10px 0 0;
}

.switch-form {
  font-weight: 800;
  color: #ef4d34;
  cursor: pointer;
  text-decoration: none;
}

.switch-form:hover {
  text-decoration: underline;
}
