@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");

/* الأساسيات العامة */
* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --main-color: #e15215;

  --shade-1: #ef4d34;
  --shade-2: #352b2b;
  --shade-3: #ffefc7;
  --shade-4: #ffae34;

  --color-white: #fff;
  --color-gray: #333;

  --text-color-light: #fff;
  --text-color-dark: #000;
}

body {
  position: relative;
  color: var(--color-gray);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container h2 {
  margin-block: 10px;
}

/* تنسيق Header */
header {
  background: var(--main-color);
  color: var(--text-color-light);
  font-weight: 700;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  padding-top: 5px;
}

header.header-hidden {
  backdrop-filter: blur(10px);
  background: #e15215bd;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* الروابط */
.main-nav,
.side-menu {
  display: flex;
  list-style: none;
}

.main-nav li,
.side-menu li {
  padding: 5px;
  display: flex;
  align-items: center;
}

.main-nav a,
.side-menu a {
  text-decoration: none;
  padding: 0 10px;
  color: #cfcfcf;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.main-nav a::after,
.side-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -5px;
  height: 3px;
  background: var(--text-color-light);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.main-nav a.active-link::after,
.side-menu a.active-link::after {
  transform-origin: left;
  transform: scaleX(1);
}

.main-nav a:hover,
.side-menu a:hover,
.main-nav a.active-link,
.side-menu a.active-link {
  color: var(--text-color-light);
  font-weight: bold;
}

/* شريط البحث */
.header-top {
  padding-top: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
}

.logo {
  width: 0px;
}

.logo img {
  position: absolute;

  width: 150px;
  height: 150px;
  top: -40px;
  left: 1%;
}
/* 
.search-wrapper {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 50%;
  height: 35px;
  transition: 0.3s ease-in-out;
}

.search-input-field {
  border: none;
  background: none;
  outline: none;
  font-size: 0.7em;
  padding: 10px;
  color: var(--text-color-dark);
  caret-color: var(--primary-color);
  height: 35px;
  width: calc(100% - 35px);

  background: var(--color-white);
  border-bottom: 5px solid rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.search-button {
  background-color: var(--shade-4);
  color: var(--text-color-light);
  border: none;
  width: 50px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.toggle-menu-button:hover,
.search-button:hover,
.search-input-field:focus,
.search-input-field:hover {
  margin-top: 5px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.15);
} */

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  max-width: 500px;
  width: 50%;
  transition: 0.3s ease-in-out;
}

.search-input-field {
  border: none;
  outline: none;
  padding: 5px;
  color: var(--text-color-dark);
  caret-color: var(--primary-color);
  height: 35px;
  width: calc(100% - 35px);
  background: var(--color-white);
  border-bottom: 5px solid rgba(0, 0, 0, 0.15);
  transition: 0.2s ease-in-out;
}
.search-button {
  border: 0;
  outline: none;
  background: var(--shade-4);
  padding: 5px;
  color: var(--text-color-light);
  height: 35px;
  width: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0.15);
  transition: 0.1s ease-in-out;
}
.toggle-menu-button.on,
.toggle-menu-button:active,
.search-input-field:focus,
.search-button:active {
  margin-top: 5px;
  height: 30px;
  border-bottom: 0px solid #00000016;
}

.toggle-menu-button {
  margin-right: 5px;
  display: none;
  background-color: var(--shade-4);
  color: var(--text-color-light);
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-bottom: 5px solid rgba(0, 0, 0, 0.15);
  transition: 0.1s ease-in-out;
}

/* تنسيق القائمة الجانبية */
.side-navigation {
  display: none;
}

.side-navigation ul {
  background: #e15215cd;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 50%;
  top: 50px;
  align-items: end;
  padding-right: 20px;
  transform: translateY(-50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.side-navigation ul.menu-visible {
  left: 0px;
  transform: translateY(0) scale(1);
}

/*  =================== */

.side-navigation,
.side-menu {
  display: none;
  list-style: none;
}

.side-navigation li,
.side-menu li {
  padding: 5px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.side-navigation a,
.side-menu a {
  text-decoration: none;
  padding: 0 10px;
  color: #ccc;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.side-navigation a::after,
.side-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -5px;
  height: 3px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.side-navigation a.active-link::after,
.side-menu a.active-link::after {
  transform-origin: right;
  transform: scaleX(1);
}

.side-navigation a:hover,
.side-menu a:hover,
.side-navigation a.active-link,
.side-menu a.active-link {
  color: var(--text-color-light);
  font-weight: bold;
}

/*  =================== */

@media (max-width: 600px) {
  header {
    padding-bottom: 10px;
  }

  header.header-hidden {
    background: #e15215b6;
  }

  .header-top {
    gap: 10px;
  }

  .logo {
    width: 100px;
  }

  .logo img {
    width: 100px;
    height: 100px;
    top: -25px;
    left: -5px;
  }

  .main-navigation {
    display: none;
  }

  .side-navigation .toggle-menu-button,
  .side-navigation,
  .side-menu {
    display: block;
  }

  .search-wrapper.search-focused,
  .search-wrapper {
    width: calc(90% - 35px);
  }
}

footer {
  background-color: var(--color-gray);
  color: var(--text-color-light);
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
}

footer .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

footer p {
  margin: 0;
}

.back-to-top {
  position: relative;
  width: 100%;
  background: gray;
  color: var(--text-color-light);
  padding: 1rem;
  text-align: center;
}

.back-to-top a {
  color: var(--text-color-light);
  padding: 1rem;
}
