@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");

/* الأساسيات العامة */
* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --main-color : #e15215 ;
  --font-color-1 : #fff;
  --font-color-2 : #000;
}


body {
  position: relative;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container h2 {
  margin-block: 20px;
}

/* تنسيق Header */
header {
  transform: translateY(0%);
  background-color: #e15215;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding-top: 20px;
}

header.hidden {
  transform: translateY(-100%); /* الإخفاء عند التمرير لأسفل */
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

header .logo {
  transition: opacity 0.3s ease;
}

/* الشعار */
.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.8em;
  text-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* الروابط */
.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links li {
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  padding: 0 10px;
  color: #cfcfcf;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #fff;
  font-weight: bold;
}

/* شريط البحث */
.search-container {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  background-color: #f0f0f5;
  border-radius: 30px;
  padding: 10px 0;
  min-width: 250px;
  width: 50%;
  margin: 0 auto;
  height: 35px;
  max-width: 550px;
  
  transition: 0.4s ease-in-out;
}

.search-container.focused {
  width: 60%;
  max-width: 600px;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  font-size: .7em;
  padding: 10px;
  color: #333;
  caret-color: #e15215;
  height: 40px;
  width:  calc(100% - 34px)
}

.search-btn {
  background-color: #e15215;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.search-btn i {
  font-size: 1rem;
}

.search-btn:hover i {
  color: #fff;
}
/* تنسيق الفوتر */
footer {
  background-color: #333;  /* خلفية داكنة */
  color: #fff;  /* نص أبيض */
  padding: 20px 0;  /* مساحة داخلية */
  text-align: center;  /* محاذاة النص في المنتصف */
  font-size: 1rem;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

footer p {
  margin: 0;
}

.back-to-top {
  position: relative;
  width: 100%;
  background: gray;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.back-to-top a {
  color: #fff;
  padding: 1rem;
}

@media(width<600px){
  .nav-links a {
    font-size: .8rem;
  }
}